---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import MeetHero from '../components/meet/MeetHero.astro';
import EarlyLife from '../components/meet/EarlyLife.astro';
import WardRecord from '../components/meet/WardRecord.astro';
import SocialistValues from '../components/meet/SocialistValues.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Meet Byron | Byron Sigcho-Lopez for Congress" description="From Ecuador to Chicago's 25th Ward. Meet Byron Sigcho-Lopez, the independent democratic socialist running to represent IL-04 in Congress.">
  <Navbar />
  <main>
    <MeetHero />
    <EarlyLife />
    <WardRecord />
    <SocialistValues />
  </main>
  <Footer />
</Layout>
